<!DOCTYPE html>
<html>

<head>
    <title>Create a Custom Madlib</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset='utf-8'>
</head>

<body>
    <h1>Fill in the Madlib Form</h1>
    <form action="/MadLibForm" method="post">
        <label for="noun">Enter A Noun</label>
        <input id="noun" name="noun" type="text">
        <label for="plural-noun">Enter a Plural Noun</label>
        <input id="plural-noun" name="plural-noun" type="text">
        <label for="noun2">Enter a Second Noun</label>
        <input id="noun2" name="noun2" type="text">
        <label for="place">Enter a Place</label>
        <input id="place" name="place" type="text">
        <label for="adjective">Enter an Adjective</label>
        <input id="adjective" name="adjective" type="text">
        <label for="noun3">Enter another Noun</label>
        <input id="noun3" name="noun3" type="text">
        <button type="submit">Go!</button>
    </form>
</body>

</html>